@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap");

body {
  margin: 0px;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}

header {
  height: 800px;
  display: flex;
  justify-content: center;
  color: white;
  background-image: url(../images/plombier1.png);
}

header img {
  border-radius: 5px;
}

.ligne1_nav {
  width: 1100px;
}

.ligne1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  display: flex;
  align-items: baseline;
}

.col {
  padding: 10px;
  margin-right: 10px;
}

.gris {
  color: gray;
}

nav ul {
  list-style-type: none;
  width: 100%;
  min-height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
}

.blocknav {
  padding: 5px;
  margin-right: 20px;
  display: flex;
}

li,
i {
  margin: 3px;
}

.navbleu {
  width: 15%;
  height: 60px;
  margin-left: auto;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bestplumb {
  margin-top: 150px;
}

.boutton {
  display: flex;
  margin-top: 60px;
}

.our {
  width: 15%;
  height: 60px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.us {
  width: 15%;
  height: 56px;
  border: rgb(175, 175, 175) solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2.5rem;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 100px;
  margin-left: 50px;
}

.section1 img {
  width: 550px;
}

.article1 {
  width: 550px;
  margin-left: 50px;
}

.listcheck {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.see {
  width: 30%;
  height: 50px;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bleu,
.listcheck i,
.logoarticle2 i,
.photosection3 i {
  color: blue;
}

.listcheck i {
  margin-bottom: 10px;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 100px;
}

.article2 {
  width: 600px;
  margin-top: 50px;
  margin-left: 50px;
}

.logoarticle2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoarticle2 i {
  margin-right: 30px;
}

.services {
  width: 1100px;
  margin: auto;
}
.services .container,
.temoignages .container {
  display: block;
}

.services h4,
.services h2 {
  text-align: center;
  padding: 0;
  margin: 20px 0 50px 0;
}

.services h4 {
  margin: 115px 0 0 0;
  padding: 0;
  font-size: 1.2rem;
  color: blue;
}
.service-elem {
  width: 32%;
}

.service-elem img {
  width: 100%;
  max-width: 100%;
  height: 250px;
}

.service-elem i {
  color: blue;
}

.services-liste {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-elem div {
  background: white;
  margin: 0 6%;
  text-align: center;
  padding: 5%;
  position: relative;
  top: -18%;
}

.service-elem svg {
  color: blue;
  font-size: 3.5rem;
  margin: 4%;
}

.service-elem h3 {
  font-size: 1.5rem;
  padding: 0;
  margin: 25px 0;
}

.service-elem p,
.temoignage p,
.temoignage span {
  color: gray;
  font-size: 1.1rem;
}

.temoignages {
  padding-top: 123px;
  background: blue;
}

.temoignages .container {
  width: 1100px;
  margin: auto;
}

.temoignage {
  width: 30%;
  padding: 1%;
  background: white;
}

.user {
  display: flex;
  align-items: center;
}

.temoignages .container h2 + div {
  display: flex;
  justify-content: space-between;
}

.temoignage i {
  color: blue;
}

.temoignage p {
  line-height: 1.8rem;
}

.user img {
  margin-right: 10px;
  border-radius: 50%;
}

.user span::first-line {
  font-weight: bold;
}

.user span::last-line {
  font-size: 0.8rem;
}

.temoignages h5,
.temoignages h2 {
  text-align: center;
  font-size: 1.2rem;
  color: white;
  padding: 0;
  margin: 0;
}
.temoignages h2 {
  margin: 20px 0 66px 0;
  font-size: 3rem;
}

.clients {
  display: flex;
  justify-content: space-between;
  margin: 116px 0;
}

.clients .container {
  display: flex;
  margin: auto;
}

.clients img {
  width: 25%;
  height: 165px;
}

.form-contact {
  background: url(../images/outils.jpg) no-repeat;
  padding: 110px 0;
}

.form-contact .container {
  align-items: center;
  width: 1100px;
  margin: auto;
  display: flex;
}

.form-contact .container > div {
  width: 50%;
}

.form-contact h4 {
  color: blue;
}

.form-contact p {
  color: white;
}

.form-contact h3 {
  font-size: 1.8rem;
  margin-top: 55px;
}

.form-contact h3 span {
  color: white;
  font-size: 3rem;
}

.form-contact form {
  width: 60%;
  padding: 9%;
  background: rgba(0, 11, 182, 0.5);
  margin-left: 10%;
}

.form-contact input,
.form-contact label {
  border: none;
  outline: none;
  color: #3257fa;
  font-size: 1.1rem;
  width: 5%;
  margin: 2%;
}

.form-contact input:focus,
.form-contact input {
  outline: none;
  color: gray;
  width: 87%;
}

.form-contact input::placeholder {
  font-size: 1.1rem;
  color: #070606;
}

.form-elem {
  display: flex;
  align-items: center;
  background: white;
  height: 55px;
  margin-bottom: 20px;
}

.form-contact input[type="submit"] {
  background: black;
  color: #f2eeee;
  width: 100%;
  margin: 0;
  height: 55px;
  font-size: 1.5rem;
}

footer {
  background: black;
  color: gray;
  padding: 100px 0;
}

footer img {
  width: 80px;
  border-radius: 5px;
}

footer .container div {
  width: 24%;
}

footer .container {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
}

.logofooter {
  display: flex;
  padding-left: 0px;
}

footer p + ul li {
  display: inline-block;
  background: #262626;
  margin-right: 12px;
  min-width: 20px;
  text-align: center;
  padding: 12px;
}

footer p {
  margin: 15px 0;
}

footer a,
footer a:visited {
  color: white;
}

footer .container:first-child {
  border-bottom: 1px solid #3c3636;
  padding-bottom: 80px;
}

footer ul {
  padding-left: 0px;
}

footer h4 + ul li i {
  margin: 7px;
  color: blue;
}

footer h4 + ul li {
  margin: 14px 0;
  padding: 0;
  display: flex;
}

footer h4 + ul a {
  color: gray !important;
  font-size: 1.2rem;
}

footer h4 {
  color: white;
  font-size: 1.5rem;
  margin: 9px 0 30px 0;
}

footer .container div:nth-child(3) svg {
  color: #3257fa;
  font-size: 1.2rem;
  margin: 3px 8px 0 0;
  width: 10%;
}

footer .container div:last-child img {
  width: 28%;
  height: 55px;
  margin: 2%;
}

footer > div:last-child {
  text-align: center;
  margin-top: 45px;
  display: block;
}

footer .freepik {
  display: none !important;
}
